@function pc2rem($px) {
  @return #{$px/1920 * 100}rem;
}

$colorSky :#0187d0;

.p-1r {
  padding: 0 1rem;
  .p-1r-content {
    background: #fff;
    position: relative;
    &.with-line:after{
      content: "";
      width: pc2rem(1);
      border-left: 1px solid #f3f3f3;
      position: absolute;
      left: pc2rem(-25);
      top: pc2rem(230);
      height: 80%;
      z-index: 0;
    }
  }
}

.welcome-main-body {
  margin: pc2rem(56) 0;
  /* 公司介绍 */
  .first-container-bg1 {
    position: relative;
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "1";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg1.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    & > div {
      width: 50%;
      padding: pc2rem(30);
      padding-top: 0;
      justify-content: space-around;
      background: #fff;
    }
  }
  .first-container-bg2 {
    position: relative;
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "1";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg2.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    & > div {
      width: 50%;
      padding: pc2rem(30);
      padding-top: 0;
      justify-content: space-around;
      background: #fff;
    }
  }
  .organ-summary {
    & > div {
      width: 100%;
      padding: pc2rem(30);
      padding-top: 0;
      justify-content: space-around;
      background: #fff;
    }
  }
  .company-name {
    font-weight: 'sc-m';
    font-size: pc2rem(30);
    color: #333333;
    & + p {
      font-size: 12px;
    }
  }
  .data-summary {
    padding: pc2rem(40) 0;
    justify-content: space-around;
    text-align: center;
    background: #f3f5f8;
    .nums {
      position: relative;
      width: 22%;
      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 35%;
          width: 1px;
          height: 60%;
          background: #dddddd;
        }
      }
      &:nth-child(2) {
        &::after {
          right: -6%;
        }
      }
      &:nth-child(3) {
        &::after {
          right: -15%;
        }
      }
    }
    .big-nums {
      font-size: 40px;
      color: #2862ae;
      font-family: 'mo-s-b';
      & + p {
        font-size: 12px;
        color: #333;
      }
    }
  }
  .second-container-bg1{
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "2";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg1.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    position: relative;
    .img-wrap{
      padding-top: pc2rem(100);
      img{
        width: 100%;
      }
    }
    .tip{
      position: absolute;
      top: pc2rem(20);
      left: 95px;
      .header{
        width: 324px;
        height: 65px;
        background: url('~@/assets/images/welcome/companyintro1.jpg') 0 0 no-repeat;
      }
      .content{
        background: rgba($color: $colorSky, $alpha: .8);
        color: #fff;
        padding: 40px;
        line-height: 24px;
        width: 324px;
        text-align: justify;
      }
    }
  }
  .second-container-bg2{
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "2";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg2.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    position: relative;
    .img-wrap{
      padding-top: pc2rem(100);
      img{
        width: 100%;
      }
    }
    .tip{
      position: absolute;
      top: pc2rem(20);
      left: 95px;
      .header{
        width: 324px;
        height: 65px;
        background: url('~@/assets/images/welcome/companyintro1.jpg') 0 0 no-repeat;
      }
      .content{
        background: rgba($color: $colorSky, $alpha: .8);
        color: #fff;
        padding: 40px;
        line-height: 24px;
        width: 324px;
        text-align: justify;
      }
    }
  }
  .third-fourth-area{
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .third-container-bg1{
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "3";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg1.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    margin-top:30px;
    padding-left: 38px;
    .content-wrap{
      width: 426px;
      position: relative;
      .img-wrap{
        width: 100%;
        img{
          width:100%;
        }
      }
      .tip{
        position: relative;
        margin-left: 74px;
        left: 0;
        top: -60px;
        background: rgba($color: #fff, $alpha: 0.95);
        padding: 40px 30px 0 40px;
        box-sizing: border-box;
        text-align: justify;
      }
      
    }
  }
  .third-container-bg2{
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "3";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg2.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    margin-top:30px;
    padding-left: 38px;
    .content-wrap{
      width: 426px;
      position: relative;
      .img-wrap{
        width: 100%;
        img{
          width:100%;
        }
      }
      .tip{
        position: relative;
        margin-left: 74px;
        left: 0;
        top: -60px;
        background: rgba($color: #fff, $alpha: 0.95);
        padding: 40px 30px 0 40px;
        box-sizing: border-box;
        text-align: justify;
      }
      
    }
  }
  .fourth-container-bg1{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 130px;
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "4";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg1.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(180);
      z-index: 999;
    }
    .img-singular-wrap{
      width: 527px;
      display: flex;
      .img{
        flex: 1;
        img{
          width: 100%;
        }
        .content{
          margin-left: 35px;
          padding: 50px 40px 40px;
          position: relative;
          margin-top: -90px;
          background: rgba($color: #fff, $alpha: .95);
          text-align: justify;
        }
      }
      .bg{
        width: 83px;
        img{
          width: 100%;
        }
      }
    }
  }
  .fourth-container-bg2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 130px;
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "4";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg2.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(180);
      z-index: 999;
    }
    .img-singular-wrap{
      width: 527px;
      display: flex;
      .img{
        flex: 1;
        img{
          width: 100%;
        }
        .content{
          margin-left: 35px;
          padding: 50px 40px 40px;
          position: relative;
          margin-top: -90px;
          background: rgba($color: #fff, $alpha: .95);
          text-align: justify;
        }
      }
      .bg{
        width: 83px;
        img{
          width: 100%;
        }
      }
    }
  }
  .fifth-container-bg1{
    position: relative;
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "5";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg1.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    .img-wrap{
      img{width: 100%; vertical-align: top;}
      position: relative;
      .content{
        width: 39%;
        right: 11%;
        height: 250px;
        position: absolute;
        bottom: 0px;
        background: rgba($color: $colorSky, $alpha: .8);
        color: #fff;
        padding: 40px 30px;
      }
    }
  }
  .fifth-container-bg2{
    position: relative;
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "5";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg2.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    .img-wrap{
      img{width: 100%; vertical-align: top;}
      position: relative;
      .content{
        width: 39%;
        right: 11%;
        height: 250px;
        position: absolute;
        bottom: 0px;
        background: rgba($color: $colorSky, $alpha: .8);
        color: #fff;
        padding: 40px 30px;
      }
    }
  }
  .sixth-container-bg1{
    position: relative;
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "6";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg1.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    .img-wrap{
      width: 100%;
      img{
        width:100%;
      }
    };
    .content{
      width: 42.5%;
      right: 7.5%;
      position: absolute;
      top: pc2rem(110);
      line-height: 24px;
      color: #fff;
      font-size: 14px;
    }
    .bigContent{
      position: absolute;
      left: 9%;
      top: 32%;
      span{
        font-size: pc2rem(30)!important;
        background: none!important;
        width: pc2rem(330);
        display: block;
      }
    }
  }
  .sixth-container-bg2{
    position: relative;
    &:after{
      width:pc2rem(40);
      height: pc2rem(46);
      content: "6";
      text-align: center;
      line-height: pc2rem(46);
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      background: url(~@/assets/images/welcome/num_bg2.png);
      background-size: cover;
      position: absolute;
      left: pc2rem(-45);
      top: pc2rem(30);
      z-index: 999;
    }
    .img-wrap{
      width: 100%;
      img{
        width:100%;
      }
    };
    .content{
      width: 42.5%;
      right: 7.5%;
      position: absolute;
      top: pc2rem(110);
      line-height: 24px;
      color: #fff;
      font-size: 14px;
    }
  }
  /* 企业文化 */
  .culture-body {
    padding: 0 pc2rem(40);
    & + .bottom-image {
      width: 100%;
      margin-top: 10px;
    }
  }
  .culture-item {
    justify-content: space-between;
    img,
    .texts {
      width: 33.333333%;
    }
    .t {
      position: relative;
      justify-content: center;
      align-items: center;
      padding-bottom: pc2rem(37);
      margin-bottom: pc2rem(22);
      border-bottom: 1px solid #dddddd;
      &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 4px;
        left: 50%;
        margin-left: -25px;
        bottom: -2px;
        background: #2862ae;
      }
      .icon {
        width: pc2rem(50);
        height: pc2rem(50);
        margin-right: 8px;
      }
      .head {
        margin: 0;
        font-family: 'sc-b';
        font-size: 24px;
        color: #2d2d2d;
        font-weight: bold;
      }
    }
    .texts {
      background: #fcfcfc;
      justify-content: center;
      padding: 0 16px;
      .words {
        // justify-content: center;
        margin-bottom: 10px;
        align-items: center;
      }
    }
    .blue-text {
      margin-right: 10px;
      padding: 2px 15px;
      color: #fff;
      background: #2862ae;
      font-family: 'sc-m';
      font-size: 16px;
      border-radius: 8px;
      min-width: 80px;
      text-align: center;
      & + p {
        flex: 1;
        font-size: 12px;
        color: #333;
        line-height: 1.2em;
      }
    }
  }
  /* 资质与荣誉 */
  .qualification-honor {
    padding: 0 pc2rem(40);
    .h {
      align-items: center;
      margin-bottom: 20px;
      .c {
        width: 28px;
        margin-right: 12px;
      }
      .t {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
    .wrapper {
      flex-wrap: wrap;
    }
    .item {
      text-align: center;
      margin-bottom: 20px;
      margin-right: pc2rem(48);
      &:nth-child(3n) {
        margin-right: 0;
      }
      .img-c {
        display: flex;
        justify-content: center;
        align-items: center;
        width: pc2rem(315);
        height: pc2rem(390);
        padding: 20px;
        background: #f3f5f8;
        &:hover{
          opacity: 0.5;
          background-color: #0a6df0;
        }
      }
      .certificate {
        width: 100%;
      }
      .i-intro {
        margin-top: 20px;
        color: #666;
        font-size: 14px;
      }
    }
  }
  .borders {
    margin: 0 pc2rem(-40);
    margin-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
  }
  /* 科研开发 */
  .scientificre-search-wrapper {
    padding: 0 pc2rem(40);
    .text {
      font-size: 14px;
      color: #555;
    }
    .development-images {
      margin-top: pc2rem(28);
      margin-bottom: 10px;
      .img-list-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .box{
          flex: 0 0 32%;
          height: 186px;
          box-sizing: border-box;
          position: relative;
          margin-bottom: 30px;
          .img-wrap{
            height: 100%;
          }
          .title {
            position: absolute;
            bottom: 0;
            width: 100%;
            line-height: 40px;
            background: rgba($color: #2d5385, $alpha: .8);
            text-align: center;
            color: #fff;
            font-size: 16px;
          }
        }
      }
      
      .card-img-top {
        display: block;
        width: 100%;
        min-height: pc2rem(180);
      }
      .card-body {
        margin-top: pc2rem(-49);
        padding: pc2rem(10) pc2rem(20);
        background: rgba(40, 98, 174, 0.8);
        color: #fff;
        font-family: 'sc-m';
        font-size: 16px;
        .card-title {
          margin-bottom: 0;
        }
      }
    }
  }
  .acquire {
    .h {
      align-items: center;
      justify-content: center;
      margin-bottom: pc2rem(30);
      .c {
        width: 28px;
        margin-right: 12px;
      }
      .t {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }
  .img-carousel {
    margin: pc2rem(40) 0;
    height: pc2rem(550);
    ul {
      display: inline-flex;
      overflow: auto;
      height: pc2rem(550);
      &:after {
        content: '';
        height: 0;
        line-height: 0;
        display: block;
        visibility: hidden;
        clear: both;
      }
      li{
        flex-shrink: 0;
        margin-right: 15px;
        display: flex;
        width: 260px;
        &:nth-child(odd){
          flex-direction: column;
        }
        &:nth-child(even){
          flex-direction: column-reverse;
        }
        img{
          width: 230px;
        }
        h6{
          font-size: 16px;
          line-height: 55px;
          text-align: center;
        }
      }
    }
  }

  /* 我与立得同行*/
  .magazine-lists {
    justify-content: space-between;
    flex-wrap: wrap;
    .card-columns {
      column-count: 2;
    }
    .magazine-item {
      background: #fff;
      padding: pc2rem(40);
      margin-bottom: 13px;
      border: none;
      border-radius: 0;
      transition: all 300ms;
      &:hover {
        background: #0187d0;
        color: #fff;
        .content {
          color: #fff;
        }
        .date {
          border-bottom: 2px solid #0187d0;
        }
      }
      .weekly{
        display: flex;
        font-size: 22px;
        align-items: center;
        color:#333;
        margin-bottom: pc2rem(30);
        img{
          margin-left: pc2rem(10);
          width: pc2rem(21);
          height: pc2rem(24);
        }
      }
    }

    .t {
      font-size: pc2rem(25);
      margin-bottom: pc2rem(20);
      color:#333
    }
    .post-image {
      display: block;
      width: 100%;
      margin-bottom: pc2rem(25);
    }
    .content {
      font-size: 16px;
      color: #333;
      font-family: 'sc-l';
    }
    .date {
      color:#d2d2d2;
      position: relative;
      text-align: right;
      font-family: 'mo-s-h';
      font-size: 14px;
      margin-top: pc2rem(20);
      padding-bottom: 10px;
      border-bottom: 2px solid #2862ae;
    }
    .index-1{
      margin:0rem 4.16667rem 1.5625rem;
      border-left: 5px solid #2862ae;
      min-height: 80px;
    }
    .index-content{
      padding: 0 30px;
      font-size: 0.9rem;
      font-weight: 400;
    }
    .index-2{
    
      background-image: url('~@/assets/images/index-2.png');
      margin: 0 0 0 20px;
      background-repeat: no-repeat;
      background-position-y: bottom;
      height: 30px;
    }
    .index-3{
      background-image: url('~@/assets/images/index-3.png');
      background-position: right;
      background-repeat: no-repeat;
      text-align: right;
      height: 30px;
    }
  }
  /* 发展历程 */
  .history-1r-content {
    background: url('~@/assets/images/welcome/bg.png') repeat-y;
    background-color: #fff;
  }
  .time-line-item {
    margin-bottom: 40px;
    .content {
      position: relative;
      width: 100%;
      .icon {
        width: 10px;
        height: 10px;
        background: #e8ecf2;
        position: absolute;
        left: pc2rem(308);
        top: 21px;
        transform: rotate(45deg);
        transition: all 300ms;
      }
    }
    &:hover {
      .icon {
        background: #2862ae;
      }
      .year-image {
        background: #4caade;
        &::after {
          border-left: 7px solid #4caade;
        }
      }
      .year {
        color: #fff;
      }
    }
  }
  .timeline {
    position: relative;
    padding: 60px pc2rem(100);
    padding-top: 0;
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: pc2rem(413);
      height: calc(100% - 120px);
      width: 1px;
      background: #e8ecf2;
      
    }
    .year-image {
      position: relative;
      width: pc2rem(275);
      height: pc2rem(215);
      padding: pc2rem(22);
      margin-right: pc2rem(76);
      background: #eef1f5;
      border-radius: 10px;
      transition: all 300ms;
      &::after {
        content: '';
        position: absolute;
        left: 100%;
        top: 20px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid #eef1f5;
        transition: all 300ms;
      }
      .year {
        margin-top: pc2rem(7);
        margin-bottom: pc2rem(21);
        font-size: pc2rem(40);
        color: #2862ae;
        font-family: 'mo-s-b';
        line-height: .8;
        & + img {
          display: block;
          width: 100%;
        }
      }
      .img{
        height: pc2rem(115);
        overflow: hidden;
        position: relative;
        img{
          bottom: 0;
          position: absolute;
        }
      }

    }
    .event {
      flex: 1;
      padding-top: 11px;
      p {
        position: relative;
        color: #333;
        font-family: 'sc-r';
        padding-left: 20px;
        &::before {
          content: "";
          position: absolute;
          top: 10px;
          left: 0;
          height: 2px;
          width: 10px;
          background: #2862ae;
        }
      }
    }
  }
}
.load-more{
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  span{
    display: inline-flex;
    align-items:center;
    height: pc2rem(44);
    padding-left: pc2rem(50);
    background: url('~@/assets/images/load_more.png') 0 0 / pc2rem(40) pc2rem(44) no-repeat;
  }
}