@function pc2rem($px) {
  @return #{$px/1920 * 100}rem;
}

@function pc2rem-re($px) {
  @return #{0 - $px/1920 * 100}rem;
}

@function ph2rem($px) {
  @return #{$px/576 * 100}rem;
}

@function pd2rem($px) {
  @return #{$px/768 * 100}rem;
}

.banner {
  margin-top: -72px;
  z-index: 0;
}

@media screen and (max-width: 576px) {
  .banner {
    margin-top: 0;
  }
}

.home {
  .middle-content {
    .product-service {
      padding: pc2rem(50) 15px pc2rem(50) 15px;
      .title {
        height: pc2rem(60);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        span {
          font-size: 26px;
          color: #333;
        }
        .line {
          position: absolute;
          bottom: 0;
          width: 48px;
          height: pc2rem(4);
        }
        a {
          color: #5c5c5c;
          font-size: 20px;
        }
      }
    }
  }
  /* 产品与服务 */
  // 产品中心，市场服务
  .animation-wrapper {
    padding-top: pc2rem(18);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .animation-div {
    position: relative;
    height: pc2rem(140);
    right: pc2rem(-5);
    
    overflow: hidden;
    .jt {
      position: absolute;
      top: 0;
      height: pc2rem(152);
      &.jt1 {
        left: pc2rem(190);
        width: pc2rem(130);
        opacity: 0.7;
      }
      &.jt2 {
        width: pc2rem(103);
        left: pc2rem(253);
        opacity: 0.5;
      }
      &.jt3 {
        width: pc2rem(125);
        left: pc2rem(288);
        opacity: 0.6;
      }
    }
    @keyframes move1 {
      0% {
        left: pc2rem-re(50);
      }
      100% {
        left: pc2rem(195);
      }
    }
    @keyframes move2 {
      0% {
        left: pc2rem-re(50);
      }
      100% {
        left: pc2rem(255);
      }
    }
    @keyframes move3 {
      0% {
        left: pc2rem-re(50);
      }
      100% {
        left: pc2rem(295);
      }
    }
    &:hover {
      cursor: pointer;
      .jt1 {
        animation: move1 0.35s;
        animation-timing-function: ease-in;
      }
      .jt2 {
        animation: move2 0.25s;
        animation-timing-function: ease-in;
      }
      .jt3 {
        animation: move3 0.1s;
        animation-timing-function: ease-in;
      }
    }
    &.service,
    &.product {
      // background: url('~@/assets/images/home/product-bg.png');
      // background-size: 100% 100%;
      display: flex;
      align-items: center;
      position: relative;
      .icon {
        margin-left: pc2rem(25);
      }
      span {
        margin-left: pc2rem(20);
        color: #fff;
        font-size: 20px;
      }
      .bg, .bg-ph {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        right:pc2rem(5);
      }
      .bg-ph {
        // display: none;
        visibility: hidden;
      }
    }
    &.service {
      // background: url('~@/assets/images/home/market-bg.png');
      // background-size: 100% 100%;
    }
  }

  /* 新闻动态 */
  .news {
    z-index: 999;
    margin-top: -6.25rem;
    background: #0187d0;
    position: relative;
    a {
      color: #fff;
      display: block;
    }
  }
  .logo {
    width: 100%;
    height: pc2rem(70);
    margin-top: 10px;
    img{
      height: pc2rem(70);
    }
  }

  .more-news {
    height: pc2rem(120);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 28px;
      margin-left: pc2rem(30);
    }
    img {
      margin-right: pc2rem(30);
    }
  }

  .news-item {
    cursor: pointer;
    height: pc2rem(120);
    transition: all 300ms;
    display: flex;
    align-items: center;
    &:hover {
      background: #2862ae;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #2862ae;
    }
    a {
      width: 100%;
      display: flex;
      align-items: center;
    }
    .news-cover {
      width: pc2rem(108);
      height: pc2rem(74);
      margin-left: pc2rem(25);
      margin-right: pc2rem(15);
    }
    .news-title {
      width: 100%;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: pc2rem(15);
    }
  }
  @media screen and (max-width: 768px) {
    .middle-content .product-service .title {
      height: pd2rem(60);
      span {
        font-size: 16px;
      }
      a {
        font-size: 14px;
      }
    }
    .animation-div {
      &.product,
      &.service {
        span {
          font-size: 14px;
        }
        .bg {
          visibility: hidden;
        }
        .bg-ph {
          visibility: visible;
        }
      }
      &.product {
        // background: url('~@/assets/images/home/product-bg-ph.png');
        // background-size: 100% 100%;
        .icon {
          width: pd2rem(15);
          height: pd2rem(16);
        }
        margin-bottom: pd2rem(20);
      }
      &.service {
        // background: url('~@/assets/images/home/market-bg-ph.png');
        // background-size: 100% 100%;
        .icon {
          width: pd2rem(15);
          height: pd2rem(16);
        }
      }
      .jt {
        display: none;
      }
    }
    .news {
      .more-news {
        height: pd2rem(50);
        .title {
          font-size: 18px;
        }
      }
      .news-item {
        height: pd2rem(65);
        .news-title {
          font-size: 12px;
        }
      }
    }
    .logo {
      height: pd2rem(30);
    }
  }
  @media screen and (max-width: 576px) {
    .animation-wrapper {
      margin-bottom: 7px;
    }
    .middle-content .product-service .title {
      height: ph2rem(60);
      margin: 5px 0px 10px;
      span {
        font-size: 18px;
      }
      a {
        font-size: 16px;
      }
      .line{
        width: 38px;
        height: 2px;
      }
    }
    .animation-div {
      height: ph2rem(138);
      &.service,
      &.product {
        span {
          font-size: 18px;
        }
        .bg {
          visibility: hidden;
        }
        .bg-ph {
          visibility: visible;
        }
      }
      &.product {
        // background: url('~@/assets/images/home/product-bg-ph.png');
        // background-size: 100% 100%;
        .icon {
          width: ph2rem(23);
          height: ph2rem(24);
          margin-left: 2em;
        }
      }
      &.service {
        // background: url('~@/assets/images/home/market-bg-ph.png');
        // background-size: 100% 100%;
        .icon {
          width: ph2rem(25);
          height: ph2rem(27);
          margin-left: 2em;
        }
      }
      .jt {
        display: none;
      }
    }
    .news {
      margin-top: 0;
      .more-news {
        height: ph2rem(100);
        padding: 20px;
        padding-bottom: 10px;
        .title {
          font-size: 18px;
        }
        img{
          width: 18px;
        }
      }
      .news-item {
        height: ph2rem(120);
        a{
          padding: 0 20px;
        }
        .news-cover {
          width: ph2rem(108);
          height: ph2rem(74);
        }
        p,.news-title {
          font-size: 14px;
          margin-left: 10px;
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
    .logo {
      height: ph2rem(77);
      display: flex;
      margin-bottom: 10px;
      img{
        height: ph2rem(77);
      }
    }
  }
}
