.search-container {
  background: #fbfbfb;
  padding: 20px 0;
  padding-top: 0;
}
.n-result {
  padding: 100px 0;
  text-align: center;
  color: #999;
  .t {
    margin-bottom: 10px;
    font-weight: 400;
    color: #333333;
  }
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .search-container {
    background: #fbfbfb;
    padding: 20px 0;
    padding-top: 0;
    min-height: calc(100vh - 200px); 
  }
  .n-result {
    padding: 40px 0;
  }
}
