@function pc2rem($px) {
  @return #{$px/1920 * 100}rem;
}

.player-container {
  width: 100%;
  height: 100%;
  padding-top: pc2rem(15);
  cursor: pointer;
}
.player-cover {
  position: relative;
  // border: 1px solid red;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  .pause-btn {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    background: url('./btn.png') no-repeat center;
    background-size: contain;
    transition: all 300ms;
    &:hover {
      opacity: 0.7;
    }
  }
}
#video {
  width: 100%;
  height: 100%;
}

.modal-content {
  background: none !important;
  border: none !important;
}
